<table>
  <tr>
    <td>Create fleet</td>
    <td><%= render link_to_create_fleet_partial %></td>
  </tr>
  <tr>
    <td>Approve another player</td>
    <td><%= render link_to_approve_joiner_partial %></td>
  </tr>
</table>
