<table>
  <tr>
    <td>Create fleet</td>
    <td><%= render "link_to_create_fleet" %></td>
  </tr>
  <tr>
    <td>Approve another player</td>
    <td><%= render "link_to_approve_joiner" %></td>
  </tr>
</table>
