<%= link_to "New Battle" , new_battle_path %>

<h1>Battle radar</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Battle</th>
    <th>Configuration</th>
  </tr>
  <% @vacant_battles.each do |b| %>
  <tr>
    <td><%= b.id %></td>
    <td><%= link_to b.battle_name, battle_path(b.id) %></td>
    <td><%= b.battle_configuration.configuration_name %></td>
  </tr>
  <% end %>
</table>

<h1>Ongoing battles</h1>
<table>
  <tr>
    <th>Battle</th>
  </tr>
  <% @ongoing_battles.each do |b| %>
  <tr>
    <td></td>
  </tr>
  <% end %>
</table>
