<h1><%= @battle.battle_name %></h1>

<table>
  <tr>
    <td>My fleet</td>
    <td><%= render :partial => "my_fleet" %></td>
  </tr>
  <tr>
    <td>Second player</td>
    <td><%= render :partial => "second_player" %></td>
  </tr>
</table>
